################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApp1/.vs/WebApp1/v15/Server/sqlite3
